body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

}

.App {
  text-align: center;
  background-color: #14191e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.5vmin);
  color: white;
}

.sign-in-button {
  padding: 50px;
  font-family: inherit;
  border-radius: 35px;
  font-size: calc(45px + 1.5vmin);
}

.modal {
  background-color: #14191e;
  position: fixed;
  padding: 25px 40px;
  border: 2px white solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-input {
  width: 300px;
  margin-bottom: 20px;
  padding: 15px 10px;
  font-size: calc(2px + 1.5vmin);
  border-radius: 10px;
}

.modal-submit {
  padding: 15px;
  font-family: inherit;
  border-radius: 10px;
  font-size: calc(3px + 1.5vmin);
}
